//- OVERVIEW
//-================================

//- Support
//--------------------------------
//- Works correctly in all email clients, except for Lotus Notes 4.5 and Lotus Notes 5

//- PARTIAL MIXINS
//-================================

//- Style Tags
//--------------------------------
mixin style-tags
	style.
		html {
			margin:0;
			padding:0;
			height:100% !important;
			margin:0;
			padding:0;
			width:100% !important;
			background-color: #F9F9F9 !important;
		}

		body {
			margin:0;
			padding:0;
			height:100% !important;
			margin:0;
			padding:0;
			width:100% !important;
			background-color: #F9F9F9 !important;
			-webkit-text-size-adjust:100%;
			-ms-text-size-adjust:100%;

			@media only screen and (max-width: 480px) {
				-webkit-text-size-adjust:none !important;
				width:100% !important;
				min-width:100% !important;
			}
		}

	|<!--[if (gte mso 9)|(IE)]>
	style.
		.u-textFallback {
			font-family: Arial, Helvetica, sans-serif !important;
		}
	|<![endif]-->


//- IE Conditional Comment Opening
//--------------------------------
mixin ie-open(props)
	- props = props || {};
	- table = props.table ? 'width="' + props.table + '"' : '';
	- cell = props.cell ? 'width="' + props.cell + '"' : '';
	|<!--[if (gte mso 9)|(IE)]>
	|<table cellspacing="0" cellpadding="0" border="0" !{table} align="center">
	|<tr>
	|<td valign="top" !{cell}>
	|<![endif]-->


//- IE Conditional Comment Seperator
//--------------------------------
mixin ie-col(props)
	- props = props || {};
	- cell = props.cell ? 'width="' + props.cell + '"' : '';
	|<!--[if (gte mso 9)|(IE)]>
	|</td>
	|<td valign="top" !{cell}>
	|<![endif]-->


//- IE Conditional Comment Closing Partial
//--------------------------------
mixin ie-close(props)
	- props = props || {};
	|<!--[if (gte mso 9)|(IE)]>
	|</td>
	|</tr>
	|</table>
	|<![endif]-->


//- Preheader
//--------------------------------
mixin preheader
	table(class="Preheader" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #003249")
		tr: td(style="background: #003249; color: #003249; font-size: 1px; height: 15px") Your application for #{accountId} has been submitted 
		tr: td
			+ie-open({table: 600})
			table(width="100%" align="center" style="max-width: 600px;"): tr: td
				table(align="left" cellspacing="0" cellpadding="0" border="0"): tr
					td(style="padding: 0 20px 15px 0")
						img(src="http://placehold.it/120x40" width="120" height="40" style="border: 1px solid #D4D4D4")
				table(align="right" cellspacing="0" cellpadding="0" border="0"): tr
					td(style="padding: 0 20px 15px 0")
						a(class="u-textFallback" href="https://www.runwaysale.co.za/main/" style="font-size: 12px; font-family: Montserrat, Arial, sans-serif; color: white; text-decoration: none;") Get Cashback
					td(style="padding: 0 20px 15px 0")
						a(class="u-textFallback" href="https://www.runwaysale.co.za/main/customer/account/" style="font-size: 12px; font-family: Montserrat, Arial, sans-serif; color: white; text-decoration: none;") Your Account
			+ie-close


//- Header
//--------------------------------
mixin header
	tr
		td(style="padding: 15px 20px")


//- Super Heading
//--------------------------------
mixin super-heading
	tr
		td(style="font-size: 0; background-color: #003249; text-align: center; padding: 16px 0")
			+ie-open(({cell: 300}))
			div(style="display: inline-block;")
				table(cellspacing="0" cellpadding="0" border="0" width="300"): tr: td(class="u-textFallback" style="font-weight: bold; text-align: left; font-size: 19px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") APPLICATION<br>UPDATE
			+ie-col(({cell: 300}))
			div(style="display: inline-block;")
				table(cellspacing="0" cellpadding="0" border="0" width="300"): tr: td(class="u-textFallback" style="text-align: right; font-size: 14px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.7") Account ID: #{accountId} <br>Date: #{date}
			+ie-close


//-Intro Block
//--------------------------------
mixin intro-block
	tr
		td(style="font-size: 0; background-color: white; text-align: center; padding: 15px 0 35px")
			+ie-open(({cell: 300}))
			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="300"): tr: td(class="u-textFallback" style="line-height: 1.4; text-align: left; font-size: 15px; color: #666666; padding: 15px 20px; font-family: Montserrat, Arial, sans-serif") <p>Hi #{name}</p><p>We have received your #{brand} application for #{accountId}</p>If you are moving your account from couponarbitrage.com, your application should be confirmed within 24 hours. For new accounts, please allow up to 1 week to receive a response.<p></p><p>Kind Regards,</p><p>eWalletBooster</p>
			+ie-col(({cell: 298}))
			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" bor der="0" width="298")
					tr: td(style="padding: 15px 20px")
						table(cellspacing="0" cellpadding="0" border="0" width="100%")
							tr: td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; border: 1px solid #CCCCCC; background-color: #EDEDED; color: #777777; font-size: 14px; padding: 30px 20px; text-align: left") Application Details:<p style="font-weight: bold">eWallet: #{brand}<br />Acc: #{accountId}<br />Email: #{paymentEmail}<br />Currency: #{currency}<br />Status: Pending<br /></p>
							tr: td(style="padding-top: 15px;").
								  <!--[if mso]>
								  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.runwaysale.co.za/main/sales/order/history/" style="height:45px;v-text-anchor:middle;width:260px;" stroke="f" fillcolor="#F05032">
									<w:anchorlock/>
									<center>
								  <![endif]-->
									  <a class="u-textFallback" href="http://localhost:3001/profile"
								style="background-color:#F05032;color:#ffffff;display:block;font-family:sans-serif;font-weight:bold;line-height:45px;text-align:center;text-decoration:none;width:260px;-webkit-text-size-adjust:none; font-family: Montserrat, Arial, sans-serif; font-size: 14px;">VIEW APPLICATION</a>
								  <!--[if mso]>
									</center>
								  </v:rect>
								<![endif]-->
			+ie-close

//- Small Header
//--------------------------------
mixin small-header
	tr
		td(class="u-textFallback" style="font-size: 16px; background-color: #36424F; padding: 15px 20px; color: white; font-family: Montserrat, Arial, sans-serif; font-weight: bold") OVERVIEW


//- Small Header
//--------------------------------
mixin small-header
	tr
		td(class="u-textFallback" style="font-size: 16px; background-color: #003249; padding: 15px 20px; color: white; font-family: Montserrat, Arial, sans-serif; font-weight: bold") OVERVIEW





//- Item Order
//--------------------------------
mixin item-order
	tr
		td(style="border-top: 1px solid #EDEDED; background-color: white; font-size: 0; padding: 30px 0; text-align: center")
			+ie-open(({cell: 300}))
			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="300" valign="top"): tr
					td(style="padding: 0 20px")
						img(src="http://placehold.it/82x82" width="82" height="82" style="border: 1px solid #D4D4D4")
					td(class="u-textFallback" style="line-height: 1.4; padding: 0 20px 0 0; color: #666666; text-align: left; font-size: 14px; font-family: Montserrat, Arial, sans-serif;") <b>Kids Aztec Diamond Mermaid Flip Flops</b><br>Size: XL
			+ie-col(({cell: 300}))
			div(style="display: inline-block; vertical-align: top")
				table(cellspacing="0" cellpadding="0" border="0" width="300")
					tr: td(class="u-textFallback" style="font-size: 14px; padding: 15px 40px 0 0; color: #666666; text-align: right; font-size: 14px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") R500 x 3
					tr: td(class="u-textFallback" style="font-size: 14px; padding: 0px 40px 0 0; color: #666666; text-align: right; font-size: 14px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") <b>R1500</b>
			+ie-close



//- Call to Action
//--------------------------------
mixin call-to-action
	tr
		td(class="u-textFallback" style="padding-bottom: 20px; text-align: center; font-size: 15px; font-family: Montserrat, Arial, sans-serif; color: #666666") <span style="line-height: 1.4"><b>Earn more cashback</b><br>You can have unlimited eWallet accounts under us</span>
			table(cellspacing="0" cellpadding="0" border="0" align="center"): tr
				td(style="padding-top: 15px").
					<!--[if mso]>
						<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:45px;v-text-anchor:middle;width:260px;" stroke="f" fillcolor="#F05032">
						<w:anchorlock/>
						<center>
					<![endif]-->
					<a class="u-textFallback" href="#"
					style="background-color:#F05032;color:#ffffff;display:block;font-family:sans-serif;font-weight:bold;line-height:45px;text-align:center;text-decoration:none;width:260px;-webkit-text-size-adjust:none; font-family: Montserrat, Arial, sans-serif; font-size: 14px;">APPLY NOW</a>
					<!--[if mso]>
						</center>
						</v:rect>
					<![endif]-->


//- Footer
//--------------------------------
mixin footer(props)
	- props = props || {};
	table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0"): tr
		td(style="padding-top: 15px")
			table(width="100%" align="center" style="background-color: #003249;" cellspacing="0" cellpadding="0" border="0"): tr
				td(style="padding: 45px 0 35px;")
					+ie-open({table: 600})
					table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; background-color: #003249; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #777777;")
						tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px") For any queries email us at support@ewalletbooster.com or call us at +44 161 456 0987
						tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px 16px;") Tempus Tower, Manchester, M3 1NP, United Kingdom
					table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="width: 100%; max-width: 600px;")

						tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 15px 20px 7px")
							a(href="#" style="color: white; text-decoration: none; font-weight: 700") TRANSFER CASH
							span &nbsp;| GET REWARDED
						tr: td(style="padding: 16px 10px 8px")
							table(align="center" cellspacing="0" cellpadding="0" border="0"): tr
								td(style="padding: 0 7px;")
									a(href="https://twitter.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-twitter-x2.png" alt="Twitter" style="height: 25px;" height="25")
								td(style="padding: 0 7px;")
									a(href="https://www.facebook.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-facebook-x2.png" alt="Facebook" style="height: 25px;" height="25")
								td(style="padding: 0 7px;")
									a(href="https://www.instagram.com"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-instagram-x2.png" alt="Instagram" style="height: 25px;" height="25")
								td(style="padding: 0 7px;")
									a(href="https://plus.google.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-google-plus-x2.png" alt="Google+" style="height: 25px;" height="25")
								td(style="padding: 0 7px;")
									a(href="https://za.pinterest.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-pinterest-x2.png" alt="Pinterest" style="height: 25px;" height="25")
					+ie-close




//- MARKUP
//-================================   

//- Pseudo Header
//--------------------------------
html
	body
		meta(content="telephone=no" name="format-detection")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
		+style-tags


		//- Entire Email Wrapper
		//--------------------------------
		table(cellspacing="0" cellpadding="0" border="0" width="100%")
			tr: td


				//- Preheader Menu
				//--------------------------------
				+preheader


			//- Open Centered Content Wrapper
			//--------------------------------
			tr: td(style="padding: 0 20px")
				+ie-open({table: 602})
				table(cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 602px")


					//- Logo Header
					//--------------------------------
					+header


					//- First Content Block
					//--------------------------------
					tr: td
						table(cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #CCCCCC")
							+super-heading
							+intro-block


					//- Spacing Cell
					//--------------------------------
					tr: td(height="30") &nbsp;


					//- Call to Action
					//--------------------------------	
					+call-to-action


				//- Close Centered Content Wrapper
				//--------------------------------
				+ie-close


			//- Footer
			//--------------------------------
			tr: td: +footer
